/* Main player rectangle */
.player {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row-start: 2;
  font-size: 15px;
  max-width: 380px;
  width:100%;
  margin: 3vh auto;
  max-height: 500px;
  height: 100%;
  background:#F5E9BD;
  border-radius: 45px;
}

.container-controls{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 30%;
  row-gap: 10%;
  padding:0 10% 10% 10%;
  max-width: 100%;
  min-width: 0%;
  min-width: 0;
}

.visuals {
  padding: 10%;
  width:80%;
}

/* play button */
button {
  grid-column-start: 2;
  align-items: center;
  height: 80%;
  width: 80%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  background: #00BFFF;
  border-radius: 45px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* volume slider*/
.vol-container {
  grid-column-start: 2;
}

/* Pan Slider */
.pan-container {
  grid-column-start: 2;
}

/* Song Selector */
.song-selector {
  place-self: center stretch;
  grid-column-start: 1;
  grid-row-start: 1 ;
  font-size: 15px;
  /* padding: 1%; */
}


/* Slider and Thumb */
.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 2vh;
  width:80%; 
  background: #2E2836;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.thumb::-webkit-slider-thumb {
  -webkit-appearance: none; 
  /* position: static; */
  width: 20%;
  height: 2vh;
  left: 189px;
  top: 0px;

  background: #FFFFFF;
  border: 2px solid #2E2836;
  box-sizing: border-box;
  border-radius: 4px;
}


