@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5 makes it so if you use 2.1rem font size, it will translate to 21 pixels */
  /* font-size: 62.5%; */
  font-size: 100%;

  /* font-family: "Roboto", sans-serif; */
  font-family: "Inter", sans-serif;

  height: 100%;
  /* height: auto; */

  /* border: 5px dashed red; */
}

body {
  /* font-size: 1.6rem; */

  min-height: 100vh;
  width: 100%;

  background-color: white;
  border: 5px dashed pink;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

footer {
  padding: 10px;
  width: 100%;
  border-top: 1px solid #e2e8f0;
  margin-top: auto;
  /* border: 5px dashed green; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Main Content Styling */
.main-content {
  /* background-color: blueviolet; */

  /* min-height: 100vh; */
  max-height: 100%;
}

/* Nav bar styling */

.header {
  border-bottom: 1px solid #e2e8f0;
  height: 100%;
}

.siteHeader {
  border-bottom: 1px solid #e2e8f0;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  width: auto;
  height: 100%;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 50px;
}

.nav-link {
  font-size: 1rem;
  /* font-size: 14px; */
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 1rem;
  color: #482ff7;
}

/* Main Page */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"); */
.section-one {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  /* margin: 2rem auto 0; */
  padding-top: 2.4rem;
  text-align: center;
  color: black;
  /* padding: 0 1.5rem; */
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-family: "Inter", sans-serif; */
  border: 1px dashed black;
}

.section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2rem;
  padding: 2.5rem;
  text-align: center;
  color: black;
}

.text-m-h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: left;
}

.text-m-p-lg {
  font-size: 1.2rem;
  line-height: 32px;
  text-align: left;
  max-width: 70ch;
}

.landing-pic {
  margin: auto;
  width: 70%;
  /* height: 452px; */
  border-radius: 50%;
}

.button-main {
  background-color: #7834ed;
  color: white;
  background: #7834ed;
  border: 1px solid #000000;
  /* box-sizing: border-box; */
  border-radius: 40px;
  padding: 0.5rem 1rem;
}

.button-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  /* margin-block-end: 2rem; */
}

.img-project {
  border-radius: 10px;
  max-width: 400px;
  height: auto;

  /* height: 10em; */
  /* width: 20rem; */
}

.project {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  box-shadow: 5px 10px #888888;
  border: 5px solid black;
  padding: 1rem;
}

.about-me {
  background-color: #000000;
  color: white;
}
.project-header {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: left;
}
.project-subheader {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: left;
}
.project-p {
  font-size: 18px;
  max-width: 70ch;
  line-height: 32px;
  text-align: left;
  /* list-style: disc; */
  list-style: inside;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
